<section id="sec">
    <img id="img" src="/images/beer.png" alt="beer" width="300px"><br>
    <div id="btn">
        <a id="bt" href="/beers">Check the Beers!</a>
        <a id="bt" href="/random-beer">Check a Random Beer</a>
    </div>
    
</section>