/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/


#nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: lightblue;
  height: 100px;
  margin-bottom: 80px;
}
#nav-a {
  border: 1px solid white;
  border-radius: 2px;
  text-align: center;
  width: 100px;
  font-size: 20px;
}
#sec {
  text-align: center;
}
#img {
  margin: auto;
}
#btn {
  margin: 50px;
  position: relative;
}

#bt {
  margin: 50px;
  border: solid 1px lightblue;
  border-radius: 2px;
  padding: 10px;
  
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.single-beer-container {
  border: 1px solid lightblue;
  border-radius: 2px;
  margin: 1em auto;
  padding: 1em;
}

.single-beer-container {
  max-width: 50%;

}
p {
  margin: 10px;
}